.container, footer, .row {
  *zoom: 1; }
  .container:before, footer:before, .row:before, .container:after, footer:after, .row:after {
    content: " ";
    display: table; }
  .container:after, footer:after, .row:after {
    clear: both; }

body {
  background-color: #FF512F;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  position: relative; }

html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

.container, footer {
  padding: 48px 64px;
  padding: 3rem 4rem; }

footer {
  font-size: 80%; }
  footer img {
    width: .75em;
    margin-bottom: -.05em;
    margin-right: .2em;
    margin-left: .1em; }

.subtitle {
  width: 48.9898742803%;
  margin-right: 2.0202514394%;
  float: left; }

.docs {
  width: 100%;
  float: right; }
  .docs p {
    width: 100%;
    float: right; }
    @media only screen and (min-width: 700px) {
      .docs p {
        width: 47.9380928518%;
        margin-right: 2.0202514394%;
        float: left; } }
    @media only screen and (min-width: 1000px) {
      .docs p {
        width: 48.9898742803%;
        margin-right: 2.0202514394%;
        float: left; } }
  .docs pre {
    width: 100%;
    float: right; }
    @media only screen and (min-width: 700px) {
      .docs pre {
        width: 47.9380928518%;
        float: right; } }
    @media only screen and (min-width: 1000px) {
      .docs pre {
        width: 48.9898742803%;
        float: right; } }

header {
  width: 100%;
  float: right; }

.overlay__columns {
  height: 100%;
  outline: 1px solid #ff8871;
  outline-offset: -1px; }

.overlay {
  width: 100%;
  margin-right: 2.0202514394%;
  float: left;
  float: right;
  margin-right: 0;
  padding: 48px 64px;
  padding: 3rem 4rem;
  position: absolute;
  pointer-events: none;
  z-index: -1000;
  bottom: 0;
  top: 0; }

.col {
  height: 100%;
  border: 1px solid #ff8871;
  display: none; }
  .col:first-of-type {
    display: block;
    width: 100%;
    margin-right: 2.0202514394%;
    float: left;
    float: right;
    margin-right: 0; }
  @media only screen and (min-width: 700px) {
    .col {
      width: 23.4848114205%;
      margin-right: 2.0202514394%;
      float: left;
      display: block; }
      .col:first-of-type {
        display: block;
        width: 47.9380928518%;
        margin-right: 2.0202514394%;
        float: left; }
      .col:nth-of-type(2n) {
        display: block;
        width: 47.9380928518%;
        margin-right: 2.0202514394%;
        float: left;
        float: right;
        margin-right: 0; }
      .col:nth-of-type(3n) {
        display: none; } }
  @media only screen and (min-width: 1000px) {
    .col:first-of-type {
      display: block;
      width: 23.4848114205%;
      margin-right: 2.0202514394%;
      float: left; }
    .col:nth-of-type(2n) {
      display: block;
      width: 23.4848114205%;
      margin-right: 2.0202514394%;
      float: left; }
    .col:nth-of-type(3n) {
      display: block;
      width: 23.4848114205%;
      margin-right: 2.0202514394%;
      float: left; }
    .col:last-of-type {
      float: right;
      margin-right: 0; } }

.author {
  width: 48.9898742803%;
  float: right;
  margin-top: 0;
  margin-bottom: 3em; }

.intro {
  width: 100%;
  margin-right: 2.0202514394%;
  float: left;
  float: right;
  margin-right: 0; }
  @media only screen and (min-width: 700px) {
    .intro {
      width: 47.9380928518%;
      margin-right: 2.0202514394%;
      float: left;
      float: right;
      margin-right: 0; } }
  @media only screen and (min-width: 1000px) {
    .intro {
      width: 48.9898742803%;
      margin-right: 2.0202514394%;
      float: left;
      float: right;
      margin-right: 0; } }

* {
  text-rendering: optimizeLegibility; }

*, *:after, *:before {
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -o-font-smoothing: antialiased; }

html {
  font-size: 1.667em; }

body {
  font-family: "aktiv-grotesk-std",sans-serif;
  line-height: 1.3; }

h1 {
  width: 100%;
  margin-right: 2.0202514394%;
  float: left;
  float: right;
  margin-right: 0;
  font-size: 4em;
  line-height: 1.3; }

p, pre {
  margin: 16px 0px 16px;
  margin: 1rem 0rem 1rem; }

a {
  color: black; }
  a:visited {
    color: black; }

code {
  font-family: "source-code-pro";
  font-size: .9em; }

::selection {
  background-color: #FF512F; }
