body {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto; }

.container, .row {
  *zoom: 1; }
  .container:before, .row:before, .container:after, .row:after {
    content: " ";
    display: table; }
  .container:after, .row:after {
    clear: both; }

body {
  background-color: #FF512F;
  position: relative; }

html {
  box-sizing: border-box;
  border-top: 1px solid black; }

*, *:before, *:after {
  box-sizing: inherit; }

.container {
  padding: .5em .5em; }
  @media only screen and (min-width: 40em) {
    .container {
      padding: 2em 2em; } }
  @media only screen and (min-width: 62.5em) {
    .container {
      padding: 3em 4em; } }

footer {
  font-size: 80%;
  margin-top: 6em;
  display: block;
  float: left; }
  footer img {
    width: .75em;
    margin-bottom: -.05em;
    margin-right: .2em;
    margin-left: .1em; }

@media only screen and (min-width: 43.75em) {
  .subtitle {
    width: 48.9898742803%;
    margin-right: 2.0202514394%;
    float: left; } }

.docs {
  width: 100%;
  float: right; }
  .docs p {
    width: 100%;
    float: right;
    clear: left; }
    @media only screen and (min-width: 43.75em) {
      .docs p {
        width: 47.9380928518%;
        margin-right: 2.0202514394%;
        float: left; } }
    @media only screen and (min-width: 62.5em) {
      .docs p {
        width: 48.9898742803%;
        margin-right: 2.0202514394%;
        float: left; } }
  .docs pre {
    width: 100%;
    float: right; }
    @media only screen and (min-width: 43.75em) {
      .docs pre {
        width: 47.9380928518%;
        float: right; } }
    @media only screen and (min-width: 62.5em) {
      .docs pre {
        width: 48.9898742803%;
        float: right; } }

.faq {
  margin-top: 4em;
  display: block;
  float: left;
  border-top: .3em solid black; }

header {
  width: 100%;
  float: right; }

#overlay__columns {
  height: 100%;
  outline-offset: -1px;
  position: relative; }
  @media only screen and (min-width: 43.75em) {
    #overlay__columns {
      outline: 1px solid #ff8871; } }
  #overlay__columns.hide {
    outline: 0; }
    #overlay__columns.hide .col {
      display: none; }

.grid-toggle {
  position: absolute;
  margin: 2em 2em;
  padding: 0; }
  @media only screen and (min-width: 62.5em) {
    .grid-toggle {
      margin: 3em 4em; } }

@media only screen and (min-width: 43.75em) {
  #eye {
    position: absolute;
    top: -1.2em;
    left: -1.2em;
    background-image: url("../eye.png");
    width: 66px;
    height: 66px;
    background-size: 100%;
    display: block;
    transition: all .5s ease-in-out;
    cursor: pointer; }
    #eye.closed {
      background-image: url("../eye-closed.png"); } }
.overlay {
  width: 100%;
  margin-right: 2.0202514394%;
  float: left;
  float: right;
  margin-right: 0;
  position: absolute;
  bottom: 0;
  top: 0;
  z-index: -1;
  padding: .5em .5em; }
  @media only screen and (min-width: 40em) {
    .overlay {
      padding: 2em 2em; } }
  @media only screen and (min-width: 62.5em) {
    .overlay {
      padding: 3em 4em; } }

.col {
  height: 100%;
  border: 1px solid #ff8871;
  display: none; }
  @media only screen and (min-width: 43.75em) {
    .col {
      width: 23.4848114205%;
      margin-right: 2.0202514394%;
      float: left;
      display: block; }
      .col:first-of-type {
        display: block;
        width: 47.9380928518%;
        margin-right: 2.0202514394%;
        float: left; }
      .col:nth-of-type(2n) {
        display: block;
        width: 47.9380928518%;
        margin-right: 2.0202514394%;
        float: left;
        float: right;
        margin-right: 0; }
      .col:nth-of-type(3n), .col:nth-of-type(4n) {
        display: none; } }
  @media only screen and (min-width: 62.5em) {
    .col:first-of-type {
      display: block;
      width: 23.4848114205%;
      margin-right: 2.0202514394%;
      float: left; }
    .col:nth-of-type(2n) {
      display: block;
      width: 23.4848114205%;
      margin-right: 2.0202514394%;
      float: left; }
    .col:nth-of-type(3n) {
      display: block;
      width: 23.4848114205%;
      margin-right: 2.0202514394%;
      float: left; }
    .col:last-of-type {
      float: right;
      margin-right: 0; } }

.author {
  width: 100%;
  float: right;
  text-align: right;
  margin-top: 0;
  margin-bottom: 1em; }
  @media only screen and (min-width: 43.75em) {
    .author {
      width: 47.9380928518%;
      float: right;
      text-align: left;
      margin-bottom: 3em; } }
  @media only screen and (min-width: 62.5em) {
    .author {
      width: 48.9898742803%;
      float: right; } }

.intro {
  width: 100%;
  float: right; }
  @media only screen and (min-width: 43.75em) {
    .intro {
      width: 47.9380928518%;
      float: right; } }
  @media only screen and (min-width: 62.5em) {
    .intro {
      width: 48.9898742803%;
      float: right; } }

* {
  text-rendering: optimizeLegibility; }

*, *:after, *:before {
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -o-font-smoothing: antialiased; }

html {
  font-size: 50%; }
  @media only screen and (min-width: 62.5em) {
    html {
      font-size: 62.5%; } }

body {
  font-family: "aktiv-grotesk-std",sans-serif;
  line-height: 1.3;
  font-size: 2.700em; }

h1 {
  width: 100%;
  margin-right: 2.0202514394%;
  float: left;
  float: right;
  margin-right: 0;
  font-size: 2em;
  line-height: 1.3; }
  @media only screen and (min-width: 40em) {
    h1 {
      font-size: 3em; } }
  @media only screen and (min-width: 60em) {
    h1 {
      font-size: 4em; } }

p, pre {
  margin: 16px 0px 16px;
  margin: 1rem 0rem 1rem; }

a {
  color: black; }
  a:visited {
    color: black; }

code {
  font-family: "source-code-pro";
  font-size: .9em; }

pre {
  background-color: black;
  color: #FF512F;
  padding: 1em;
  font-size: 80%;
  overflow: scroll; }

::selection {
  background-color: #FF512F; }
