//Grid Mixins & Container Placeholder
@mixin col($columns, $maximum-columns:$maximum-columns, $omega:false) {  
  width: columns($columns, $maximum-columns); 

  @if $omega == omega {
    float: right;
  }  
  @else{
    margin-right: gutter();
    float: left;
  }
}

@mixin omega {
  float: right;
  margin-right: 0;
}

@mixin push($from-direction, $columns) {
  @if $from-direction == left {
    float: left;
    margin-left: offset-columns($columns);
  }
  @if $from-direction == right {
    float: right;
    margin-right: offset-columns($columns);
  }
}

%container{
  max-width: $max-width;
  margin-left: auto;
  margin-right: auto;
}