body{
  background-color: $orange;
  @extend %container;
  position: relative;
  
  

}

html{
  box-sizing: border-box;
  border-top: 1px solid black;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.container{
  @extend %clearfix;
  padding: .5em .5em;
  
  @include breakpoint(40em){
    padding: 2em 2em;
  }
  
  @include breakpoint(62.500em){
    padding: 3em 4em;
  }
}

footer{
  font-size: 80%;
  margin-top: 6em;
  display:block;
  float:left;
    
  img{
    width: .75em;
    margin-bottom: -.05em;
    margin-right: .2em;
    margin-left: .1em;
  }
}

.subtitle{
  @include col(2);
}

.docs{
  @include col(4, 4, omega);
  
  p{
    @include col(4, 4, omega);
    clear:left;
    
    @include breakpoint(43.750em){
      @include col(1, 2);
    }
    
    @include breakpoint(62.500em){
      @include col(2, 4);
    }
  }
  
  pre{
    @include col(4, 4, omega);
    
    @include breakpoint(43.750em){
      @include col(1, 2, omega);
    }
    @include breakpoint(62.500em){
      @include col(2, 4, omega);
    }
  }
}

.faq{
  margin-top: 4em;
  display:block;
  float:left;
  border-top: .3em solid black;
  
  @include breakpoint(62.500em){
    p{
       -webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
    column-count: 2;
    }
  }

    

}

header{
  @include col(4, 4, omega);
}

.row{
  @extend %clearfix;
}

#overlay__columns{
    height: 100%;
    
    outline-offset: -1px;
    position:relative;
    
     @include breakpoint(43.750em){
       outline: 1px solid lighten($orange, 13%);
    }
    
    
    &.hide {
      .col{
        display: none;
        
      }
      outline: 0;
    }
}

.grid-toggle{
  position:absolute;
  margin: 2em 2em;
  padding:0;
  
  @include breakpoint(62.500em){
    margin: 3em 4em;
  }
}

@include breakpoint(43.750em){
  #eye{
  position: absolute;
  top:-1.2em;
  left: -1.2em;
  background-image:url("../eye.png");
  width: 66px;
  height: 66px;
  background-size: 100%;
  display:block;
  transition:all .5s ease-in-out;
  cursor: pointer;
  
  &.closed{
    background-image:url("../eye-closed.png");
  }
}
}


.overlay{
  @include col(4);
  @include omega;
  position: absolute;
  bottom: 0;
  top: 0;
  z-index: -1;
  padding: .5em .5em;
  
  @include breakpoint(40em){
    padding: 2em 2em;
  }
  
  @include breakpoint(62.500em){
    padding: 3em 4em;
  }
  

}

.col{
  height: 100%;
  border: 1px solid lighten($orange, 13%);
  display: none;

  @include breakpoint(43.750em){
    @include col(1);
    display: block;
    
    &:first-of-type{
      display:block;
      @include col(1, 2);
    }
    
    &:nth-of-type(2n){
      display:block;
      @include col(1, 2);
      @include omega;
    }
    
    &:nth-of-type(3n),&:nth-of-type(4n){
      display: none;
    }
  }
  
  @include breakpoint(62.500em){
    
    &:first-of-type{
      display:block;
      @include col(1);
    }
    
    &:nth-of-type(2n){
      display:block;
      @include col(1);
    }
    
    &:nth-of-type(3n){
      display:block;
      @include col(1);
    }
    
    &:last-of-type{
      @include omega;
    }
  }
}

.author{
  @include col(1, 1, omega);
  text-align: right;
  margin-top: 0;
  margin-bottom: 1em;
 
  
  @include breakpoint(43.750em){
    @include col(1, 2, omega);
    text-align: left;
    margin-bottom: 3em;
  }
  @include breakpoint(62.500em){
    @include col(2, 4, omega);
  }
  
}

.intro{
  @include col(1, 1, omega);
  
  @include breakpoint(43.750em){
    @include col(1, 2, omega);
  }
  
  @include breakpoint(62.500em){
    @include col(2, 4, omega);
  }
}