body{
  background-color: $orange;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

html{
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.container, footer{
  @include rem(padding, 3, 4);
  @extend %clearfix;
}

footer{
  font-size: 80%;
  
  img{
    width: .75em;
    margin-bottom: -.05em;
    margin-right: .2em;
    margin-left: .1em;
  }
}

.subtitle{
  @include col(2);
}

.docs{
  @include col(4, 4, omega);
  
  p{
    @include col(4, 4, omega);
    
    @include breakpoint(700px){
      @include col(1, 2);
    }
    
    @include breakpoint(1000px){
      @include col(2, 4);
    }
  }
  
  pre{
    @include col(4, 4, omega);
    
    @include breakpoint(700px){
      @include col(1, 2, omega);
    }
    @include breakpoint(1000px){
      @include col(2, 4, omega);
    }
  }
}

header{
  @include col(4, 4, omega);
}

.row{
  @extend %clearfix;
}

.overlay__columns{
    height: 100%;
    outline: 1px solid lighten($orange, 13%);
    outline-offset: -1px;
}

.overlay{
  @include col(4);
  @include omega;
  @include rem(padding, 3em, 4em);
  position: absolute;
  pointer-events: none;
  z-index: -1000;
  bottom: 0;
  top: 0;
}

.col{
  height: 100%;
  border: 1px solid lighten($orange, 13%);
  display: none;
  
  &:first-of-type{
    display:block;
    @include col(1, 1);
    @include omega;
  }

  @include breakpoint(700px){
    @include col(1);
    display: block;
    
    &:first-of-type{
      display:block;
      @include col(1, 2);
    }
    
    &:nth-of-type(2n){
      display:block;
      @include col(1, 2);
      @include omega;
    }
    
    &:nth-of-type(3n){
      display: none;
    }
  }
  
  @include breakpoint(1000px){
    
    &:first-of-type{
      display:block;
      @include col(1);
    }
    
    &:nth-of-type(2n){
      display:block;
      @include col(1);
    }
    
    &:nth-of-type(3n){
      display:block;
      @include col(1);
    }
    
    &:last-of-type{
      @include omega;
    }
  }
}

.author{
  @include col(2, 4, omega);
  margin-top: 0;
  margin-bottom: 3em;
}

.intro{
  @include col(1, 1);
  @include omega;
  
  @include breakpoint(700px){
    @include col(1, 2);
    @include omega;
  }
  
  @include breakpoint(1000px){
    @include col(2);
    @include omega;
  }
}