*{
  text-rendering: optimizeLegibility;
}

*, *:after, *:before {
  font-smoothing:antialiased;
  -webkit-font-smoothing:antialiased;
  -moz-font-smoothing:antialiased;
  -moz-osx-font-smoothing: grayscale;
  -o-font-smoothing:antialiased;
}

html{
  font-size: 1.667em;
}

body{
  font-family: "aktiv-grotesk-std",sans-serif; 
  line-height: 1.3;
}

h1{
  @include col(4);
  @include omega;
  font-size: 4em;
  line-height: 1.3;
}

p, pre{
  @include rem(margin, 1, 0, 1);
}

a{
  color: black;
  
  &:visited{
    color: black;
  }
}

code{
  font-family: "source-code-pro";
  font-size: .9em;
}

::selection{
  background-color: $orange;
}