*{
  text-rendering: optimizeLegibility;
}

*, *:after, *:before {
  font-smoothing:antialiased;
  -webkit-font-smoothing:antialiased;
  -moz-font-smoothing:antialiased;
  -moz-osx-font-smoothing: grayscale;
  -o-font-smoothing:antialiased;
}

html{
  font-size: 50%;
  
  @include breakpoint(62.500em){
    font-size: 62.5%;
  }
}

body{
  font-family: "aktiv-grotesk-std",sans-serif; 
  line-height: 1.3;
  font-size: 2.700em;
}

h1{
  @include col(4);
  @include omega;
  font-size: 4em;
  line-height: 1.3;
}

p, pre{
  @include rem(margin, 1, 0, 1);
}

a{
  color: black;
  
  &:visited{
    color: black;
  }
}

code{
  font-family: "source-code-pro";
  font-size: .9em;

}

pre {
  background-color: black;
  color: $orange;
  padding: 1em;
  font-size: 80%;
}

::selection{
  background-color: $orange;
}